{% extends "navbar-basic.html" %}

{% block title %}
Demo App
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}

        <img src="{{url_for('static', filename='logo.png')}}" align="middle" />



      <!--  <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p> -->
      </div>

    </div><!-- /.container -->
{% endblock %}