{% extends "base_modulauswahl.html" %}

{% block title %}
Modulauswahl
{% endblock %}

{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src='/static/js/jquery.min.js'></script>
    <script src='/static/js/jquery.steps.min.js'></script>
    <script src ="/static/js/modulauswahl.js"></script>
    <style>

        .main-container{
            display: flex;
            flex-direction: row-reverse;
        }

        .semester-container{
            padding: 0;
            margin-left: 5px;
            margin-bottom: 15px;
            text-align: -moz-center;
            list-style: none;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .semester{
            color: #030385;
            padding: 10px;
            margin: 5px;
            display: flex;
        }

        .semester.active{
            color: white;
            padding: 10px;
            margin: 5px;
            display: flex;
            background: #030385;
        }

        .veranstaltungen{
            height: 800px;
            width: 750px;
            float: right;
            overflow-y: auto;
            border: solid #030385 4px;
            margin-right: 15px;
        }

        .semester-und-gewählte-module{
            float: left;
            min-height: 600px;
            min-width: 200px;
            width: auto;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: auto;
        }

        #belegte-module {
            margin: 75px 200px 25px;
            border: solid #030385 4px;
            text-align: -moz-center;
            min-width: 200px;
        }

        .Zähler{
            margin: 0px 200px;
            border: solid #030385 4px;
            text-align: -moz-center;
            min-width: 200px;
        }

        .belegte-module-container{
            border-width: 5px;
            border-color: #0a53be;
        }

        ul.list-group.list-group-empfohlen{
            background: lightgreen;
        }

        ul.list-group.list-group-nicht-empfohlen{
            background: #ff6961;
        }

        ul.list-group.list-group-hover li:hover{
            background: #0a53be;
            color: white;
        }

        ul.list-group.list-group-gewählt li:hover{
            background: #ff6961;
            color: white;

        }

        .list-group-gewählt li:nth-of-type(odd){
            background: #b6d4fe;
        }

        .list-group-gewählt li:nth-of-type(even){
            background: whitesmoke;
        }

        ul{
            list-style-type: none;
        }

        li{
            cursor: pointer;
            padding: 2px;
        }

        li:active{
            background: #030385;
            color: white;
        }

        h2{
            margin-left: 10px;
            color: #030385;
        }

        h3{
            background: #030385;
            color: white;
            padding: 4px;
        }

        h4 h5{
            background: whitesmoke;
            padding: 4px;
        }

        h6{
            background: #030385;
            color: white;
            padding: 4px;
            margin: 0;
        }

        .btn-primary{
            background: #030385;
            border-color: #030385
        }

        .btn-wrapper{
            display: flex;
            flex-direction: column;
            margin: 15px 200px;
            flex: 1;
            min-width: 200px;
        }

        .sem-buttons{
            margin-left: 10px;
        }

        .lp-gesamt-container{
            background: #030385;
            color: white;
            font-weight: bold;
        }

        figcaption{
            margin-top: 5px;
            display: flex;
        }

        .red-box{
            background: #ff6961;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            border: 1px solid black;
        }

        .green-box{
            background: lightgreen;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            border: 1px solid black;
        }

        .yellow-box{
            background: yellow;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            border: 1px solid black;
        }

        .orange-box{
            background: darkorange;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            border: 1px solid black;
        }


        .green-box-text{
            margin-right: 10px;
        }
        figure{

            display: flex;
            flex-direction: column;
            width: 750px;
        }

        .list-group-empfohlen-wahlpflicht{
            background: lightgreen;
        }

        .list-group-empfohlen-empfohlene-wahlpflichtkurse{
            background: lightgreen;
        }

        .list-group-empfohlen-erlaubte-wahlpflichtkurse{
            background: yellow;
        }

        .list-group-empfohlen-ausgegraut{
            background: darkorange;
        }

    </style>

{% endblock %}

{% block content %}
<div class ="main-container">
    <figure>
    <div class = "veranstaltungen">
        {% if user_start_semester == "Wintersemester" %}
            {% if current_semester % 2 == 0 %}
                <h3>Verfügbare Kurse für das {{current_semester}}. Semester (SoSe)</h3>
            {% else %}
                <h3>Verfügbare Kurse für das {{current_semester}}. Semester (WiSe)</h3>
            {% endif %}
            {% elif user_start_semester == "Sommersemester" %}
            {% if current_semester % 2 == 0 %}
                <h3>Verfügbare Kurse für das {{current_semester}}. Semester (WiSe)</h3>
            {% else %}
                <h3>Verfügbare Kurse für das {{current_semester}}. Semester (SoSe)</h3>
            {% endif %}
        {% endif %}
    <h4>Pflichtbereich ({{user_pflicht_lp_ist}} / {{user_pflicht_lp_soll}})</h4>
    {% if module1 or pflichtkurse_nicht_empfohlen or pflichtkurse_vertiefung_empfohlen or pflichtkurse_vertiefung_nicht_empfohlen %}
    <ul class ="list-group list-group-hover list-group-empfohlen">
        <!-- <h6>empfohlene Pflichtmodule</h6> -->
        {% for item in module1 %}
            <li class = li value = {{item[0]}}>
                {{item[2]}}, Leistungspunkte: {{item[6]}}, Semesterwochenstunden: {{item[7]}}
            </li>
        {% endfor %}
        {% for item in pflichtkurse_vertiefung_empfohlen %}
            <li class = li value = {{item[0]}}>
                {{item[2]}}, Leistungspunkte: {{item[6]}}, Semesterwochenstunden: {{item[7]}}
            </li>
        {% endfor %}
    </ul>
    <ul class ="list-group list-group-hover list-group-nicht-empfohlen">
        {% for item in pflichtkurse_nicht_empfohlen %}
            <li class = li value = {{item[0]}}>
                {{item[2]}}, Leistungspunkte: {{item[6]}}, Semesterwochenstunden: {{item[7]}}
            </li>
        {% endfor %}
        {% for item in pflichtkurse_vertiefung_nicht_empfohlen %}
            <li class = li value = {{item[0]}}>
                {{item[2]}}, Leistungspunkte: {{item[6]}}, Semesterwochenstunden: {{item[7]}}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if user_wahlvertiefung_ID == 1 or user_wahlvertiefung_ID == 3 %}
    <h4>Grundlagenpraktikum ({{user_grundlagenpraktikum_lp_ist}} / {{user_grundlagenpraktikum_lp_soll}})</h4>
    {% if grundlagenpraktikum or grundlagenpraktikum_nicht_empfohlen %}
    <ul class ="list-group list-group-hover list-group-empfohlen">
        {% for item in grundlagenpraktikum %}
            <li class = li value = {{item[0]}}>
                {{item[2]}}, Leistungspunkte: {{item[6]}}, Semesterwochenstunden: {{item[7]}}
            </li>
        {% endfor %}
    </ul>
    {% if grundlagenpraktikum_nicht_empfohlen %}
    <ul class ="list-group list-group-hover list-group-nicht-empfohlen">
        {% for item in grundlagenpraktikum_nicht_empfohlen %}
            <li class = li value = {{item[0]}}>
                {{item[2]}}, Leistungspunkte: {{item[6]}}, Semesterwochenstunden: {{item[7]}}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endif %}
    {% endif %}
    <h4>zweites Grundlagenmodul ({{user_weitere_einfuehrung_LP_ist}} / {{user_weitere_einfuehrung_LP_soll}})</h4>
    {% if zweites_Grundlagenmodul or zweites_Grundlagenmodul_nicht_empfohlen%}
    <ul class ="list-group list-group-hover list-group-empfohlen">
        {% for item in zweites_Grundlagenmodul %}
            <li class = li value = {{item[0]}}>
                {{item[2]}}, Leistungspunkte: {{item[6]}}, Semesterwochenstunden: {{item[7]}}
            </li>
        {% endfor %}
    </ul>
    <ul class ="list-group list-group-hover list-group-nicht-empfohlen">
        {% for item in zweites_Grundlagenmodul_nicht_empfohlen %}
            <li class = li value = {{item[0]}}>
                {{item[2]}}, Leistungspunkte: {{item[6]}}, Semesterwochenstunden: {{item[7]}}
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    <h4>Wahlpflichtbereich ({{user_wahlpflicht_LP_ist_summe}} / {{user_max_wahlpflicht_LP}})</h4>
        {% if user_wahlvertiefung_ID != 4 %}
    <h5>Leistungspunkte aus der eigenen Vertiefung ({{user_wahlpflicht_LP_ist}} / {{user_min_wahlpflicht_LP}} - {{user_max_wahlpflicht_LP}}) </h5>
    <h5>Leistungspunkte aus anderen Vertiefungen ({{user_wahlpflicht_andere_LP_ist}} / {{user_min_wahlpflicht_andere_LP}} - {{user_max_wahlpflicht_andere_LP}})</h5>
        {% endif %}
        {% if user_wahlvertiefung_ID != 4 %}
            {% if empfohlene_wahlpflichtkurse or nichtempfohlene_wahlpflichtkurse %}
                <ul class ="list-group list-group-hover list-group-empfohlen-wahlpflicht">
                    <h6>Wahlpflichtkurse</h6>
                    {% for item in empfohlene_wahlpflichtkurse %}
                        <li class = li value = {{item[0]}}>
                            {{item[2]}}, Leistungspunkte: {{item[6]}}, Semesterwochenstunden: {{item[7]}}
                        </li>
                    {% endfor %}
                </ul>
                <ul class ="list-group list-group-hover list-group-nicht-empfohlen">
                    {% for item in nichtempfohlene_wahlpflichtkurse %}
                        <li class = li value = {{item[0]}}>
                            {{item[2]}}, Leistungspunkte: {{item[6]}}, Semesterwochenstunden: {{item[7]}}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
        {% if andere_empfohlene_wahlpflichtkurse or andere_nichtempfohlene_wahlpflichtkurse %}
            <ul class ="list-group list-group-hover list-group-empfohlen-empfohlene-wahlpflichtkurse">
                <h6>Wahlpflichtkurse aus anderen Vertiefungen</h6>
                {% for item in andere_empfohlene_wahlpflichtkurse %}
                    <li class = li value = {{item[0]}}>
                        {{item[2]}}, Leistungspunkte: {{item[6]}}, Semesterwochenstunden: {{item[7]}}
                    </li>
                {% endfor %}
            </ul>
            <ul class ="list-group list-group-hover list-group-nicht-empfohlen">
                {% for item in andere_nichtempfohlene_wahlpflichtkurse %}
                    <li class = li value = {{item[0]}}>
                        {{item[2]}}, Leistungspunkte: {{item[6]}}, Semesterwochenstunden: {{item[7]}}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if andere_erlaubte_wahlpflichtkurse or andere_nichterlaubte_wahlpflichtkurse %}
            <ul class ="list-group list-group-hover list-group-empfohlen-erlaubte-wahlpflichtkurse">
                <h6>erlaubte Wahlpflichtkurse aus anderen Vertiefungen</h6>
                {% for item in andere_erlaubte_wahlpflichtkurse %}
                    <li class = li value = {{item[0]}}>
                        {{item[2]}}, Leistungspunkte: {{item[6]}}, Semesterwochenstunden: {{item[7]}}
                    </li>
                {% endfor %}
            </ul>
            <ul class = "list-group list-group-hover list-group-nicht-empfohlen">
                {% for item in andere_nichterlaubte_wahlpflichtkurse %}
                    <li class = li value = {{item[0]}}>
                        {{item[2]}}, Leistungspunkte: {{item[6]}}, Semesterwochenstunden: {{item[7]}}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if andere_ausgegraute_wahlpflichtkurse or andere_n_ausgegraute_wahlpflichtkurse %}
            <ul class = "list-group list-group-hover list-group-empfohlen-ausgegraut">
                <h6>nicht passende Wahlpflichtkurse aus anderen Vertiefungen</h6>
                {% for item in andere_ausgegraute_wahlpflichtkurse %}
                    <li class = li value = {{item[0]}}>
                        {{item[2]}}, Leistungspunkte: {{item[6]}}, Semesterwochenstunden: {{item[7]}}
                    </li>
                {% endfor %}
            </ul>
            <ul class ="list-group list-group-hover list-group-nicht-empfohlen">
                {% for item in andere_n_ausgegraute_wahlpflichtkurse %}
                    <li class = li value = {{item[0]}}>
                        {{item[2]}}, Leistungspunkte: {{item[6]}}, Semesterwochenstunden: {{item[7]}}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
</div>
        <figcaption>
            <p class="green-box"> </p>
            <p class="green-box-text"> = empfohlene Module in diesem Semester </p>
            <p class="red-box"> </p>
            <p class="rex-box-text"> = nicht empfohlene Module in diesem Semester </p>
            <p class="yellow-box"> </p>
            <p class="yellow-box-text"> = erlaubte Wahlpflichtkurse </p>
            <p class="orange-box"> </p>
            <p class="orange-box-text"> = nicht passende Wahlpflichtkurse </p>
        </figcaption>
    </figure>

<div class="semester-und-gewählte-module">
    <h2>Modulauswahl</h2>
    <div class ="semester-container">
        {% for sem in range(1, semester_anzahl + 1) %}
            {% if current_semester != sem %}
                <li class ="semester" id="{{sem}}">{{sem}}. Semester </li>
            {% elif current_semester == sem %}
                <li class ="semester active" id="{{current_semester}}">{{sem}}. Semester </li>
            {% endif %}
        {% endfor %}

    </div>
    <div class="sem-buttons">
    <button class="btn btn-primary add" onclick="addSemester()">Semester hinzufügen</button>
    <button class="btn btn-warning delete" onclick="deleteLastSemester()">Semester löschen</button>
    </div>
<div class = belegte-module-container>
    <ul id = "belegte-module" class ="belegte-module list-group list-group-hover list-group-gewählt">
        {% if user_start_semester == "Wintersemester" %}
            {% if current_semester % 2 == 0 %}
                <h6>gewählte Module im {{current_semester}}. Semester (SoSe)</h6>
            {% else %}
                <h6>gewählte Module im {{current_semester}}. Semester (WiSe)</h6>
            {% endif %}
            {% elif user_start_semester == "Sommersemester" %}
            {% if current_semester % 2 == 0 %}
                <h6>gewählte Module im {{current_semester}}. Semester (WiSe)</h6>
            {% else %}
                <h6>gewählte Module im {{current_semester}}. Semester (SoSe)</h6>
            {% endif %}
        {% endif %}
        {% for x in temp_list %}
            <li class = "semester-list" value = {{x[0][0][0]}} id = {{x[1]}}>
                    {{x[0][0][2]}}, Leistungspunkte: {{x[0][0][6]}}, Semesterwochenstunden: {{x[0][0][7]}}
            </li>
        {% endfor %}
    </ul>
</div>



<div class = "Zähler" style="list-style-type:none;" >
    <div>LP in diesem Semester: {{lp_gesamt}}</div>
    <div>Semesterwochenstunden in diesem Semester: {{semesterwochenstunden}}</div>
    <div class="lp-gesamt-container">LP Insgesamt: {{lp_gesamt_alle_semester}}</div>
</div>

    {% if lp_gesamt_alle_semester == 180 %}
        <div class="btn-wrapper">
        <a class="btn btn-primary" href="/verlaufsplan" role="button">Fertigstellen</a>
        </div>
    {% endif %}


</div>
    </div>
{% endblock %}