{% extends "navbar-basic.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
profLogin
{% endblock %}

{% block styles %}
{{super()}}

{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
    <div class="container">

      <form class="form-signin" method="POST" action="/proflogin">
        <h2 class="form-signin-heading">Prof-Login</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Anmelden</button>
      </form>

    </div> <!-- /container -->
{% endblock %}