{% extends "navbar-basic.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
<div class="container"><link rel="stylesheet" href="{{ url_for('static', filename='signin.css')}}">


  <form class="form-signin" method="POST" action="/signup">
    <h2 class="form-signin-heading">SignUp</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.vorname) }}
    {{ wtf.form_field(form.nachname) }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.password) }}
    {{ wtf.form_field(form.immatrikulationssemester) }}
    {{ wtf.form_field(form.immatrikulationsjahr) }}
    {{ wtf.form_field(form.erste_Vertiefung) }}
    {{ wtf.form_field(form.zweite_Vertiefung) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
  </form>

</div> <!-- /container -->
    <script rel="stylesheet" src='/static/js/jquery.min.js'></script>
<script type="text/javascript" src='/static/js/signup.js'></script>
{% endblock %}