{% extends "base_modulauswahl.html" %}

{% block title %}
Verlaufsplan
{% endblock %}

{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src='/static/js/jquery.min.js'></script>
    <script src='/static/js/jquery.steps.min.js'></script>
    <script src="/static/js/verlaufsplan.js"></script>

    <style>
        .flex-container {
            margin-top: 40px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            border: 5px solid black;
        }

        .flex-item {
            margin: 1%;
            flex: auto;
            text-align: center;
            min-height: 125px;
            border: 1px solid black;
            padding: 5px;
            margin: 5px;
        }

        .flex-item.semester{
            border: none;
            border-right: 1px solid black;
        }

        p{
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .modul{
            cursor: pointer;
        }

        .abgeschlossen{
            color: white;
            background: #030385;
        }

        .belegt{

        }

        figcaption{
            margin-top: 5px;
            display: flex;
        }

        .blue-box{
            background-color: #030385;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            border: 1px solid black;
        }

        .white-box{
            background-color: white;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            border: 1px solid black;
        }

        .white-box-text{
            margin-right: 10px;
        }

    </style>

{% endblock %}

{% block content %}
<h2>Dein Studienverlaufsplan</h2>
<div class="container">
    <figure>
    <div class="flex-container">
        {% for sem in range(1, semester_anzahl + 1) %}
        <div class="flex-item semester" value="{{sem}}">{{sem}}. Semester
            {% for modul in module_for_jeweiliges_semester[sem - 1] %}
            <div class="flex-item modul {{modul[10]}}" value="{{modul[0]}}">
                <p>{{modul[2]}} </p>
                <p>LP: {{modul[6]}}, SWS: {{modul[7]}} </p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
        <figcaption>
            <p class="white-box"> </p>
            <p class="white-box-text"> = belegt </p>
            <p class="blue-box"> </p>
            <p class="blue-box-text"> = abgeschlossen </p>
        </figcaption>
        <a class="btn btn-warning" href="/modulauswahl" role="button" style="float: right; margin-top: 10px;">Bearbeiten</a>
    </figure>
</div>

{% endblock %}